# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# End of https://www.gitignore.io/api/python
__pycache__/
mylib/__pycache__/
bin/
include/
lib/
data/
result/
man/

.DS_Store
database.py
tmp_*.py
*.json
*.cfg
*.txt
*.log
ck*

!requirements.txt
