# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# End of https://www.gitignore.io/api/python
__pycache__/
mylib/__pycache__/
bin/
include/
lib/
data/

.DS_Stone
*.json
*.cfg
*.txt
*.log

!requirements.txt
